.closeable-overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    min-height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #49090D 0%, #2B071A 100%);
    background-attachment: fixed;
}

.closeable-overlay-limited-container {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 1440px;
    min-width: 0;
    padding: 48px 0;
    position: relative;
    align-self: stretch;
}

.icon-close {
    position: absolute;
    top: 72px;
    right: 72px;
    color: white;
    opacity: 0.3;
    font-size: 36px;
}

.icon-close:hover {
    opacity: 0.5;
}

@media screen and (max-width: 960px) {
    .closeable-overlay-limited-container {
        padding: 16px 0;
    }

    .icon-close {
        top: 16px;
        right: 16px;
    }
}