.closeable-overlay {
    padding: 48px 0;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.icon-close {
    position: absolute;
    top: 72px;
    right: 72px;
    color: white;
    opacity: 0.3;
    font-size: 36px;
}

.icon-close:hover {
    opacity: 0.5;
}