.root-page, .root-page_two-column {
    position: relative;
    min-height: 100%;
    padding: 16px 0;
    background: url('./../../resources/background.svg') no-repeat top center, linear-gradient(120.21deg, #F283DA 1.69%, #FFD2E0 100%, #F94D80 100%);
    background-size: cover;
    background-attachment: fixed;
}

.noise {
    background: url('./../../resources/noise.png');
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: soft-light;
    opacity: 0.5;
}

.left-column-background {
    position: absolute;
    background: #DD456E;
    opacity: 0.6;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
}

.root-page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    flex-shrink: 0;
    margin-bottom: 110px;
}

.root-page_two-column .logo {
    margin-bottom: 36px;
}

.root-page-columns {
    display: flex;
    flex-direction: row;
    max-width: 1450px;
    width: 100%;
    justify-content: center;
}

.send-valentine-column {
    width: 100%;
    max-width: 720px;
    align-items: center;
    align-self: flex-start;
    position: sticky;
    top: 16px;
}

.incoming-valentines-column,
.send-valentine-column {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.root-page_two-column .incoming-valentines-column,
.root-page_two-column .send-valentine-column {
    width: 50%;
}

.root-page_two-column .send-valentine-column .promo-header {
    color: #A0001D;
}

.root-page_two-column .incoming-valentines-column .promo-header {
    color: white;
    position: sticky;
    top: 16px;
}

.incoming-valentines-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.incoming-valentine:hover {
    transform: scale(1.1);
    transition: transform 150ms;
}

.incoming-valentine img {
    width: 260px;
}