.send-valentine-form {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.send-valentine-form .promo-text {
    font-size: 15px;
    line-height: 20px;
    max-width: 580px;
    margin-top: 16px;
}

.valentine-is-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    margin-top: 42px;
}

.valentine-is-sent .logo {
    margin-bottom: 56px;
    flex-shrink: 0;
}

.valentine-is-sent .promo-header {
    color: #FF6190;
}

.kotik {
    margin-top: -50px;
    width: 852px;
}
