.send-valentine-form {
    gap: 16px;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.valentine-is-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valentine-is-sent .logo {
    margin-bottom: 56px;
    flex-shrink: 0;
}

.valentine-is-sent .promo-header {
    color: #FF6190;
}

.valentine-is-sent .promo-text {
    color: #FFFFFF;
}

.kotik {
    margin-top: -50px;
    width: 852px;
}

.shake-empty-dropdown {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.carousel-arrow {
    font-size: 48px;
    color: #FFFFFF;
    opacity: 0.3;
}

.carousel-arrow:hover {
    opacity: 0.5;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}