.valentine-view-page {
    display: flex;
    justify-content: center;
    min-height: 100%;
    margin-top: 120px;
}

.valentine-view {
    position: relative;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.valentine-view,
.valentine-view img {
    width: 960px;
    height: 620px;
}

.valentine-message {
    position: absolute;
    text-align: center;
}