.valentine-editor {
    position: relative;
}

.valentine-editor, .valentine-editor img {
    width: 960px;
    height: 620px;
}

.valentine-editor .textarea-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.valentine-editor textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: "Unbounded", sans-serif;
    font-size: 20px;
    line-height: 28px;
    min-height: 28px;
    font-weight: 400;
    text-align: center;

    /* todo: not always */
    color: white;
}

.valentine-editor textarea::placeholder {
    color: inherit;
    opacity: 0.5;
}